@media screen and (min-width: 992px) {
    .app {
        display: grid;
        grid-template-columns: 0.25fr 0.75fr;
        grid-template-areas: "header header" "sidebar slider" "sidebar sort" "sidebar main" "sidebar main" "sidebar footer";
        gap: 1em;
        padding: 1em;
        background-color: #F5F5F5;
    }
    .header__shop {
        display: block;
    }
}
@media  (min-width: 768px) and (max-width: 992px) {
    .app {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        grid-template-areas: "header header" "slider slider" "sidebar sort" "sidebar main" "sidebar footer";
        gap: 1em;
        padding: 1em;
        background-color: #F5F5F5;
    }
    .main {
        grid-area: main;
        z-index: 1;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1em;
        border-radius: 1em;
    }
}