@media screen and (min-width: 992px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1.2fr 4fr;
        grid-template-areas: "head head" "side slider" "side content" "side content" "side main-footer";
        gap: 1em;
        padding: 1em;
    }
    .main-head {
        position: absolute;
        left: 0;
        grid-area: head;
        border: 1px solid gainsboro;
        padding: 0.5em;
        white-space: nowrap;
        position: sticky;
        top: 1em;
        background-color: white;
        z-index: 3;
        transition: all 0.4s linear;
        border-radius: 999em 0 0 999em;
        background-color: orange;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main-head:hover > .nameshop {
        color: blueviolet;
    }
    .main-head .nameshop {
        display: none;
        color: black;
        text-decoration: none;
        display: flex;
        justify-content: start;
        align-items: center;
        position: absolute;
        right: 0;
        top: 0;
        font-style: oblique;
        font-variant: small-caps;
        font-family: 'Courier New', Courier, monospace;
        animation: roteXX 4s infinite;
    }
    @keyframes roteXX {
        from {
            transform: rotateY(0deg);
        }
        to {
            transform: rotateY(360deg);
        }
    }
    .shopee-icon {
        position: absolute;
        background-color: #EE4D2D;
        color: yellow;  
        padding: 0.5em;
        border-radius: 0 1em 0 1em;
        right: -3em;
        top: 2.7em;
        animation: shopee-icon-animation 2s infinite, shopee-icon-animation-reveser 2s infinite;
    }
    .shopee-icon a {
        text-decoration: none;
        color: yellow;
        animation: shopee-icon-animation 2s infinite, shopee-icon-animation-reveser 2s infinite;
    }
    @keyframes shopee-icon-animation {
        25% { color: orangered; background-color: yellow;}
        75% { color: yellow; background-color: #EE4D2D; }
    }
    @keyframes shopee-icon-animation-reveser {
        75% { color: orangered; background-color: yellow;}
        25% { color: yellow; background-color: #EE4D2D; }
    }
    .account {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }
    .account__image img {
        height: 50px;
        border-radius: 999em;
        border: 1px solid gainsboro;
    }
    .account__image {
        margin-right: 0.5em;
    }
    .account__username {
        color: white;
    }
    .main-nav {
        position: sticky;
        top: 1em;
        padding: 0.5em;
        grid-area: head;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 1em;
        background-color: gainsboro;
        border: 1px solid gainsboro;
        z-index: 3;
    }
    .menu {
        justify-content: center;
        align-items: center;
        display: none;
    }
    .nav {
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: white;
    }
    .content {
        grid-area: content;
        border: 1px solid gainsboro;
        border-radius: 1em;
        padding: 1em;
        z-index: 1;
        width: 100%;
    }
    .nav__item {
        border: 1px solid gainsboro;
        transition: all 0.4s linear;
        display: flex;
        text-decoration: none;
        color: black;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        border-radius: 1em 0 0 1em;
        padding-right: 1em;
        transition: all 0.4s linear;
        
    }
    .nav__item:hover > div {
        color: blue;
    }
    .nav__item:hover > .nav__item-icon {
        color: white;
        transition: all 0.4s linear;
        background-color: black;
        animation: roteX 10s infinite;
    }
    @keyframes roteX {
        25% {
            transform: rotateX(180deg);
        }
        75% {
            transform: rotateY(180deg);
        }
    }
    .nav__item:hover > .nav__item-name {
        margin-left: 2em;
    }
    .nav__item+.nav__item {
        margin-left: 1em;
    }
    .nav__item-icon {
        animation: roteX 10s infinite;
        transition: all 0.4s linear;
        border: 1px solid gainsboro;
        padding: 0.5em;
        border-radius: 1em;
        border-left: none;
        border-top: none;
        border-bottom: none;
        font-weight: bold;
    }
    .nav__item-name {
        transition: all 0.4s linear;
        color: black;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav__item-icon+.nav__item-name {
        margin-left: 0.5em;
    }
    .side {
        grid-area: side;
        border: 1px solid gainsboro;
        align-items: center;
        background-color: gainsboro;
        height: calc(100vh - 1em * 3 - 60px);
        top: calc(1em * 2 + 60px);
        position: sticky;
        display: flex;
        flex-direction: column;
        justify-content: start;
        border-radius: 1em;
    }
    .side__title {
        display: flex;
        padding: 1em;
    }
    .side__title-name {
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
    }
    .side__title-icon+.side__title-name {
        margin-left: 1em;
    }
    .side__arrow-icon {
        right: 1em;
        position: initial;
        display: none;
    }
    .side__title {
        background-color: gainsboro;
        position: sticky;
        border: 1px solid gainsboro;
        border-radius: 1em 1em 0 0;
        width: 100%;
        display: flex;
    }
    .side__title-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .side__title-name {
        display: block;
        text-transform: uppercase;
        font-size: 1.2em;
    }
    .side__title-icon+.side__title-name {
        margin-left: 1em;
    }
    .side__container {
        overflow-y: auto;
        padding: 0.5em;
        border: 1px solid gainsboro;
        border-radius: 0 0 1em 1em;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: calc(100% - 1em * 2);
        align-items: start;
        background-color: white;
    }
    .side__container::-webkit-scrollbar {
        background-color: #F5F5F5;
        border-radius: 0 0 1em 0;
    }
    .side__container::-webkit-scrollbar-thumb {
        background-color: gainsboro;
        border-radius: 0 0 1em 0;
    }
    .side__container__item {
        display: flex;
        justify-content: start;
        align-items: center;
        text-decoration: none;
        color: black;
        width: 100%;
        padding: 0.5em;
        margin: 0.5em 0;
        transition: all 0.4s linear;
        border: 1px solid gainsboro;
    }
    .side__checked:checked+label {
        background-color: gainsboro;
        border-radius: 1em;
        transition: all 0.4s linear;
    }
    .side__container__item:hover {
        background-color: gainsboro;
        border-radius: 1em;
        transition: all 0.4s linear;
    }
    .side__container__item:active {
        background-color: white;
    }
    .side__container__item+.side__container__item {
        display: block;
        margin-top: 0.5em;
    }
    .side__container__item-image img {
        border-radius: 999em;
        height: 48px;
    }
    .side__container__item-image+.side__container__item-name {
        margin-left: 0.5em;
    }
    .slider {
        grid-area: slider;
        border-radius: 1em;
        border: 1px solid gainsboro;
    }
    .carousel-inner {
        height: 420px;
        width: 100%;
        border-radius: 1em;
    }
    .carousel-item img {
        border-radius: 1em;
    }
    .content {
        grid: content;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 1em;
        padding: 1em;
        border-radius: 1em;
    }
    .product {
        height: 100%;
        width: 100%;
        flex-direction: column;
        border: 1px solid gainsboro;
        border-radius: 1em;
    }
    .group-1 {
        display: flex;
        flex-direction: column;
        padding: 1em;
        justify-content: space-between;
        border-radius: 1em;
    }
    .product__name {}
    .product__name p {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        min-height: 3em;
    }
    .product__name:hover {
        color: blue;
    }
    .group-2 {
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .product__price {
        color: blue;
        display: flex;
        align-items: center;
        border: 1px solid gainsboro;
        padding: 0.5em;
        transition: all 0.5s linear;
        margin-bottom: 0.5em;
        border-radius: 1em;
        justify-content: center;
    }
    .product__price:hover {
        background-color: blue;
        color: white;
        border-radius: 1em;
        transition: all 0.5s linear;
    }
    .product__view {
        border-radius: 1em;
        padding: 0.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        color: orangered;
        border: 1px solid gainsboro;
        transition: all 0.5s linear;
    }
    .product__view:hover {
        background-color: orangered;
        color: white;
        border-radius: 1em;
        transition: all 0.5s linear;
    }
    .product__view:active {
        background-color: gainsboro;
        color: black;
    }
    .product__image {
        border-radius: 1em 1em 0 0;
        width: 100%;
    }
    .product__image img {
        width: 100%;
        border-radius: 1em 1em 0 0;
    }
    .main-footer {
        grid-area: main-footer;
        border: 1px solid gainsboro;
        border-radius: 1em;
        padding: 1em;
    }
    .top {
        z-index: 2;
        position: fixed;
        top: 0;
        width: 100%;
        height: calc(60px + 16px);
        right: 0;
        left: 0;
        background-color: white;
    }
    .bottom {
        z-index: 2;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 1em;
        right: 0;
        left: 0;
        background-color: white;
    }
}