@media screen and (min-width: 992px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
        font-family: 'Courier New', Courier, monospace;
    }
    .app {
        display: grid;
        grid-template-columns: 0.25fr 0.75fr;
        grid-template-areas: "header header" "sidebar slider" "sidebar sort" "sidebar main" "sidebar main" "sidebar footer";
        gap: 1em;
        padding: 1em;
    }
    .top {
        z-index: 2;
        position: fixed;
        top: 0;
        width: 100%;
        height: calc(60px + 16px);
        right: 0;
        left: 0;
        background-color: white;
    }
}