/* @media screen and (min-width: 576px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "main-nav main-nav main-nav main-nav main-nav side" "slider slider slider slider slider slider" "content content content content content content" "main-footer main-footer main-footer main-footer main-footer main-footer";
        gap: 16px;
        padding: 16px;
    }
    .main-head {
        display: none;
        grid-area: main-head;
        border: 1px solid gainsboro;
        border-radius: 0px;
        padding: 16px;
        position: sticky;
        top: 16px;
        display: flex;
        justify-content: start;
        align-items: center;
        background-color: gainsboro;
        height: 60px;
    }
    .slider {
        grid-area: slider;
        border: 1px solid gainsboro;
    }
    .slider__carousel-image img {
        width: 100%;
    }
    .main-nav {
        border-radius: 16px 0 0 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: sticky;
        top: 16px;
        background-color: gainsboro;
        height: 60px;
        padding: 16px;
        grid-area: main-nav;
        border: 1px solid gainsboro;
    }
    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav {
        display: none;
    }
    .content {
        grid-area: content;
        border: 1px solid gainsboro;
        border-radius: 16px;
        padding: 16px;
    }
    .side {
        grid-area: side;
        border-radius: 0 0 16px 16px;
        top: calc(16px * 2 + 60px);
        position: sticky;
        border: 1px solid gainsboro;
        display: flex;
        justify-content: start;
        align-items: center;
        background-color: gainsboro;
        height: 60px;
        position: sticky;
        top: 16px;
        justify-content: center;
        border-radius: 0 16px 16px 0;
    }
    .side__title {
        display: flex;
        padding: 16px;
    }
    .side__title-name {
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
    }
    .side__title-icon+.side__title-name {
        margin-left: 16px;
    }
    .side__arrow-icon {
        position: absolute;
        right: 16px;
        position: initial;
    }
    .side__title {
        display: none;
    }
    .side__container {
        display: none;
        overflow-y: auto;
        padding: 16px;
        border: 1px solid gainsboro;
        border-radius: 0 0 16px 16px;
    }
    .side__container::-webkit-scrollbar {
        background-color: #F5F5F5;
        border-radius: 0 0 16px 0;
    }
    .side__container::-webkit-scrollbar-thumb {
        background-color: gainsboro;
        border-radius: 0 0 16px 0;
    }
    .slider {
        border-radius: 16px;
    }
    .slider__carousel-image img {
        width: 100%;
        border-radius: 16px;
    }
    .content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 16px;
    }
    .product {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        border: 1px solid gainsboro;
        border-radius: 16px;
    }
    .product__name {
        order: 3;
        padding: 0 16px;
        margin-bottom: 16px;
    }
    .product__summary {
        order: 2;
        padding: 0 16px;
        margin-bottom: 8px;
    }
    .product__image {
        order: 1;
        border-radius: 16px 16px 0 0;
        margin-bottom: 16px;
    }
    .product__image img {
        width: 100%;
        border-radius: 16px 16px 0 0;
    }
    .main-footer {
        grid-area: main-footer;
        border: 1px solid gainsboro;
        border-radius: 16px;
        padding: 16px;
    }
} */