@import url("root.css");

@media screen and (min-width: 576px) {
    .wrapper {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "main-nav main-head main-head main-head main-head side"
            "slider slider slider slider slider slider"
            "content content content content content content"
            "main-footer main-footer main-footer main-footer main-footer main-footer"
        ;
    }

    .main-head {
        border-radius: 0;
    }

    .main-nav {
        border-radius: var(--main-border-radius) 0 0 var(--main-border-radius);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .side {
        position: sticky;
        top: var(--main-top);
        justify-content: center;
        border-radius: 0 var(--main-border-radius) var(--main-border-radius) 0;
    }

    .side__arrow-icon {
        position: initial;
    }

    .side__title {
        display: none;
    }

    .slider {
        /* height: 100%; */
        border-radius: var(--main-border-radius);
    }

    .slider__carousel {
        /* width: 100%; */
    }

    .slider__carousel-image {
        /* width: 100%; */
    }

    .slider__carousel-image img {
        width: 100%;
        border-radius: var(--main-border-radius);
    }
}