@media screen and (min-width: 576px) and (max-width: 768px) {
    .app {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "header header" "slider slider" "sidebar sidebar" "sort sort" "main main" "footer footer";
        gap: 1em;
        padding: 1em;
        background-color: #F5F5F5;
    }
    .header {
        position: sticky;
        top: 0.5em;
        grid-area: header;
        height: 60px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 3;
        box-sizing: content-box;
        border-radius: 1em;
        right: 0;
        left: 0;
    }
    .top {
        z-index: 2;
        position: fixed;
        top: 0;
        width: 100%;
        height: calc(60px + 1em);
        right: 0;
        left: 0;
        background-color: white;
    }
    .carousel-inner {
        height: 240px;
        width: 100%;
        border-radius: 1em;
    }
    .header__navbar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 100%;
        border-radius: 1em;
        background-color: white;
    }
    .header__navbar--link--title {
        transition: all 0.4s linear;
        color: orangered;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sidebar {
        position: unset;
        height: 240px;
    }
    .sort {
        top: calc(1em + 60px);
    }
    .main {
        grid-area: main;
        z-index: 1;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1em;
        border-radius: 1em;
    }
}