<div class="sort">
    <form name="sortby" class="sort__content">
        <select class="sort__content--item" name="order">
            <option value="null">Price</option>
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option>
        </select>
        <input class="sort__content--input" style="display: none;" type="radio" id="popular" name="sortby" value="pop" checked>
        <label onclick="handleGetSortby('pop')" for="popular" class="sort__content--item sort__content--item-active">Popular</label>
        <input class="sort__content--input" style="display: none;" type="radio" id="newest" name="sortby" value="ctime">
        <label onclick="handleGetSortby('ctime')" for="newest" class="sort__content--item sort__content--item-active">Newest</label>
        <input class="sort__content--input" style="display: none;" type="radio" id="sales" name="sortby" value="sales">
        <label onclick="handleGetSortby('sales')" for="sales" class="sort__content--item sort__content--item-active">Sales</label>
    </form>
    <div class="sort__title">
        Sorted by
    </div>
</div>