<div class="header">
    <div class="header__shop">
        ...
    </div>
    <div class="header__menu">
        <i class="header__menu--icon bi bi-list"></i>
    </div>
    <div class="header__navbar">
        <a class="header__navbar--link" href="">
            <i class="header__navbar--link--icon bi bi-house"></i>
            <div class="header__navbar--link--title">Home</div>
        </a>
        <a class="header__navbar--link" href="">
            <i class="header__navbar--link--icon bi bi-view-list"></i>
            <div class="header__navbar--link--title">Category</div>
        </a>
        <a class="header__navbar--link" href="">
            <i class="header__navbar--link--icon bi bi-badge-tm"></i>
            <div class="header__navbar--link--title">Trademark</div>
        </a>
        <a class="header__navbar--link" href="">
            <i class="header__navbar--link--icon bi bi-telephone"></i>
            <div class="header__navbar--link--title">Contact</div>
        </a>
    </div>
</div>