.main {
    grid-area: main;
    padding: 1em 0;
    z-index: 1;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
    border-radius: 1em;
    background-color: #F5F5F5;
}

.main__product {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1em;
    transition: all 0.5s linear;
    position: relative;
    background-color: white;
    box-shadow: 1px 1px 2px 2px gainsboro;
}

.main__product--tag-sale {
    position: absolute;
    top: 1.5em;
    right: 0;
    color: white;
    z-index: 1;
    background-color: orange;
    padding: 0.5em;
}

.main__product--cover-image {
    overflow: hidden;
    width: 100%;
    border-radius: 1em 1em 0 0;
}

.main__product:hover {
    box-shadow: 0 0 5px 5px bisque;
}
/* 
.main__product:hover > .main__product--tag-sales {
    font-size: bolder;
    font-size: 1.2em;
} */

.main__product:hover > .main__product--controller .main__product--controller--view {
    border: 1px solid orangered;
}

.main__product:hover > .main__product--name {
    color: blueviolet;
    transition: all 0.5s linear;
}

.main__product:hover > .main__product--cover-image .main__product--image {
    transform: scale(1.5);
    transition: all 0.5s linear;
}

.main__product--name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: 2em;
    margin: 0.5em;
    text-align: justify;
}

.main__product--price {
    color: red;
    display: flex;
    align-items: center;
    /* padding: 0 0.5em; */
    /* margin: 0.5em; */
    transition: all 0.5s linear;
    justify-content: center;
}

.main__product--price-before {
    color: #A3B6C4;
}

.main__product--price:hover {
    color: blueviolet;
}

.main__product--controller {
    padding: 0 0.5em;
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: all 0.5s linear;
}

.main__product--controller--view {
    background-color: white;
    color: orangered;
    border: 1px solid gainsboro;
    border-radius: 1em;
    padding: 0.5em;
    width: 100%;
    transition: all 0.5s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.main__product--controller--view:hover {
    background-color: orangered;
    color: white;
    transition: all 0.5s linear;
}

.main__product--controller:active {
    background-color: gainsboro;
    color: black;
}

.main__product--image {
    width: 100%;
    height: auto;
    border-radius: 1em 1em 0 0;
    transition: all 0.5s linear;
}